version: '3.7'

services:
  web:
    build: .
    restart: always
    expose:
      - "5000"
    environment:
      - DYNAMO_TABLE_NAME=PersonalNotes
      - AWS_REGION=us-east-1 # Change to your region
    volumes:
      - .:/app

  nginx:
    image: nginx:1.19-alpine
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web
